body {
  min-height: 2000px;
  padding-top: 60px;
}

em{
  color:red;
}

p{
	font-size:12px;
	color:#696969;
	text-align:justify;
}

hr{
	border-color: rgba(34,139,34,0.5);
	border-width:2px;
	max-width: 200px;
}

h2{
	text-align:center;
}

.alert{
	margin-left:10px;
	margin-right:10px;
}


